%div{'ui-modal', 'ng-model'=>'userForModal'}
  %fieldset
    %legend= t('active_record.user.sections.personal')
    %table
      %tr
        %td
          %label{:for => 'userEditName'}
            = t('active_record.user.attributes.name')
        %td
          %input#userEditName{:type=>'text',:placeholder=>t('active_record.user.attributes.name')}
