%fieldset.span12{'ng-controller'=>'UsersController'}
  %legend
    %h3= t('active_record.models.user.other')
  =render :partial => 'application/search', :locals => {:model => 'user', :field=>'username'}
  .row-fluid
    .span12
      %table.table.table-hover.table-condensed.table-striped
        %thead
          %tr
            %th= t('active_record.attributes.user.name')
            %th= t('active_record.attributes.user.balance')
            %th= t('active_record.attributes.user.buy_count')

        %tbody
          %tr{'ng-repeat'=>'user in users.collection', 'ng-hide'=>'user.hidden'}
            %td
              %a{'ng-click'=>'basket.setBuyer(user)',
                :title=>t('basket.select_buyer')} {{user.username}}
            %td {{user.balance | currency}}
            %td {{user.buy_count}}