common: &common
  mailer_sender: secret_admirer@example.com
  postgres_user: 'postgres'
  postgres_password: ''
  secret_key_base: 'MY_SUPER_SECRET_KEY_BASE'
  devise_pepper: 'MY_SUPER_SECRET_DEVISE_PEPPER'

development:
  *common
test:
  *common
production:
  *common