%fieldset.span6.offset3
  %legend= t('user.sign_in')
  =form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>'form-horizontal') do |f|
    =render partial: 'login_fields', locals: {form: f, resource: resource}
  = render "devise/shared/links"
