=form_for(resource, :as => resource_name, :url => session_path(resource_name), :class=>'form-horizontal') do |f|
  %fieldset.span4.offset4
    %legend= t('.sign_in')
    =render partial: 'login_fields', locals: {form: f, resource: resource}
