<% if @latest_buys.present? %>
  <div>
    <h2><%= t 'buys.latest' %></h2>
    <table>
      <tbody>
      <% @latest_buys.each do |buy| %>
        <tr>
          <td><%= buy.as_buy_notice%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>