.span12{'ng-controller'=>'BuysController', 'ng-init'=>'init()'}
  %h3=t('buy.latest')
  .row-fluid{'ng-repeat'=> "buy in buys.latest()"}
    %small.span4.muted
      {{buy.created_at | date:'medium'}}
    .span3
      %img{'ng-src'=>'{{gravatarUrl(buy.buyer.email)}}'}
      %a{:href => '#/users/{{buy.buyer.id}}'} {{buy.buyer.username}}
    .span5
      %a{:href=>'#/buys/{{buy.id}}',
        'ng-repeat'=> 'entry in buy.products'}
        {{entry.amount}} {{entry.product.name}}
