.span12{'ng-controller'=>"BuysProductsController"}
  %h3
    =t('other', scope:'active_record.models.product')
    %small{'ng-hide'=>'basket.hasProducts()'}
      =t('add_to_list')
  .row-fluid
    %form.form-horizontal.span12
      .input-append.row-fluid
        %input.span8{:type=>'text', 'ng-model'=>'filterQuery',
                      'ng-list'=>',', :placeholder=> t("search_by_name")}
        %button.btn.btn-danger{'ng-click'=>'clearFilter()'}
          %i.icon-remove
  .row-fluid{'ng-repeat'=>"product in entries()"}
    .span4 
      %a{'ng-click'=>"basket.add(product)"} {{product.attributes.name}}
    .span2
      %i.icon-glass
      {{product.stock()| number}}
    .span2 {{product.price() | currency}}
    .span4{'ng-show'=>'basket.hasProduct(product)'} 
      .btn-group
        %button.btn.btn-mini.btn-primary{'ng-click'=>'basket.changeAmount(product, -1)',
                                          'ng-disabled'=>'basket.productCount(product) <= 1'}
          %i.icon-minus
        %button.btn.btn-mini.btn-inverse{'disabled'=>'disabled'}
          {{basket.productCount(product)}}
        %button.btn.btn-mini.btn-primary{'ng-click'=>'basket.changeAmount(product,1)', 
                                          'ng-disabled'=>'basket.productCount(product) >= product.stock()'}
          %i.icon-plus
        %button.btn.btn-mini.btn-success{'ng-click'=>'dialog.open()', 
                                          'ng-disabled'=>'!basket.isValid()'}
          %i.icon-shopping-cart
        %button.btn.btn-mini.btn-danger{'ng-click'=> 'basket.remove(product)',
          'ng-disabled'=>'!basket.hasProduct(product)'}
          %i.icon-remove
