<div id="users">
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th style="display:none;"></th>
        <th>Name</th>
        <th>Bought</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr data-foreach-user="users" data-event-click="selectBuyer">
        <td style="display:none;" data-source="user.id"></td>
        <td data-source="user.username"></td>
        <td data-source="user.buy_count"></td>
        <td data-source="user.balance" data-addclass-negative="user.inDebt"></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="products">
  <h2>Products</h2>
  <table>
    <thead>
      <tr>
        <th style="display:none;"></th>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr data-foreach-product="products" data-event-click="controller.addToBasket">
        <td style="display:none;" data-source="product.id"></td>
        <td data-source="product.name"></td>
        <td data-source="product.stock"></td>
        <td data-source="product.price"></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="basket">
  <h2>Basket</h2>
  <div>Current buyer: <span data-source="basket.buyer.username" data-event-click="clearBuyer"></span></div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
      <tr data-foreach-entry="basket.entries">
        <td>
          <span data-source="entry.product.name"></span>
        </td>
        <td>
          <input type="text" data-bind="entry.amount" />
        </td>
      </tr>
    </tbody>
  </table>
</div>