/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.increment, .decrement, .remove{
    border-radius: 5px;
    width: 2em;
    height: inherit;
    text-align: center;
}
.increment{
    background-color: #32cd32;
}
.decrement, .remove{
    background-color: #ff0000;
}
.number-box{
    width:3em;
}
.hidden{
    display:none;
}

.clickable{
    cursor:pointer;
}

.error-message, .negative{
    color:#ff0000;
}

#tabs, #products_and_basket, #latest_buys{
    float:left;
    margin-right:15px;
}