.row-fluid
  .span12
    .navbar
      .navbar-inner{'ng-controller'=>'NavigationController'}
        %ul.nav
          %li{'ng-class'=>"{true:'active', false:''}[currentLocation('/buys')]"}
            %a{:href=>'#/buys'}= t('buy.administration')
          %li.divider-vertical
          %li{'ng-class'=>"{true:'active', false:''}[currentLocation('/products')]"}
            %a{:href=>'#/products'}= t('product.administration')
          %li.divider-vertical
          %li{'ng-class'=>"{true:'active', false:''}[currentLocation('/users')]"}
            %a{:href=>'#/users'}= t('user.administration')
        %ul.nav.pull-right
          %li=render 'basket/modal'
          %li.divider-vertical
          %li{'ng-show'=>"authenticated()", 'ng-controller'=>"SessionController"}
            %a{'ng-click'=>"signOut()"}= t('actions.sign_out')
