.row-fluid{'ng-controller'=>'NavigationController', 'ng-init'=>'session.checkStatus()'}
  .span12
    .navbar
      .navbar-inner
        %ul.nav
          %li{'ng-class'=>"{true:'active', false:''}[currentLocation('/buys')]"}
            %a{:href=>'#/buys'}= t('other', scope: 'activerecord.models.buy') 
          %li.divider-vertical
          %li{'ng-class'=>"{true:'active', false:''}[currentLocation('/products')]"}
            %a{:href=>'#/products'}= t('other', scope: 'activerecord.models.product') 
          %li.divider-vertical.ng-cloak.kassa-admin
          %li.ng-cloak.kassa-admin{'ng-class'=>"{true:'active', false:''}[currentLocation('/users')]"}
            %a{:href=>'#/users'}= t('other', scope: 'activerecord.models.user')
        %ul.nav.pull-right
          %li.ng-cloak            
            %a{'ng-href'=>'#/users/{{session.currentUser.id}}',
                'ng-show'=>'session.currentUser'} 
              %i.icon-user
              {{session.currentUser.username}}
          %li
            %a{'ng-click'=>"session.signOut()"}
              = t('actions.sign_out')
