%div{'ng-show'=>"changes.length"}
  %h3= t('products.latest_actions')
  %table
    %tr
      %th= t('products.name')
      %th= t('products.change_by')
      %th= t('generic.change')

    %tr{'ng-repeat'=>"change in changes"}
      %td {{change.product.name}}
      %td {{change.user.username}}
      %td {{change.change}}
