#tabs{'ng-controller'=>"UsersController"}
  %h3= t('tabs.header')
  .search 
    
    %span= t('generic.search_by_name')    
    
    %input{:type=>"text",
      'ng-model'=>"currentUserText",
      'ng-change'=>"filter(users, 'username', currentUserText)",
      'ng-list'=>'',
      :value=>"{{currentUserText}}",
      'ng-init'=>"filter(users, 'username', '')"} 
      
  %table>                                
  
    %tr>
      %th.clickable{:title=>"{{I18n.t('tabs.sort_by_name')}}",
        'ng-click'=>"sort(users, 'username')"}= t('tabs.owner')
      %th.clickable{:title=>"{{I18n.t('tabs.sort_by_buy_count')}}",
        'ng-click'=>"sort(users, 'buy_count')"}= t('tabs.buy_count')
      %th.clickable{:title=>"{{I18n.t('tabs.sort_by_balance')}}",
        'ng-click'=>"sort(users, 'balance')"}= t('tabs.balance')
      
    %tr{'ng-class'=>"{highlighted: user == basket.buyer}",
      'ng-repeat'=>"user in users",
      'ng-hide'=>"user.hidden"}
      %td.clickable{'ng-click'=>"basket.buyer = user"} {{user.username}}
      %td {{user.buy_count | number}}
      %td{'ng-class'=>"{negative: user.balance % 0, positive: user.balance >= 0}"} {{user.balance | currency}}