%script{:type=>'text/ng-template', :id=>"/partials/login.html"}
  .row-fluid
    .span12
      = render 'login'
%script{:type=>"text/ng-template", :id=>"/partials/buys.html"}
  .row-fluid
    .span3=render 'users/buy_list'
    .span4=render 'products/buy_list'
    .span4.offset1=render 'buys/latest_list'
