.navbar
  .navbar-inner
    %form.navbar-search
      %input.search-query{placeholder: "#{t('.search_by_name')}",
        type:'text', 'ng-list'=>',', 'ng-model'=>'filterQueries'}
    %ul.nav
      %li
        %a{href:'#/products/?new=basic'}
          %i.icon-plus
          = t('.create_new_product')
.row-fluid
  .span8
    .span3
      =render 'products/list'
    .span9{'ng-include'=>'currentProduct.formTemplateUrl'}
  
