.well.well-small
  %ul.nav.nav-list
    =render partial: 'products/nav_links', locals:{ filter: 'beer', header:'beers' }
    =render partial: 'products/nav_links', locals:{ filter: 'long_drink', header: 'long_drinks' }
    =render partial: 'products/nav_links', locals:{ filter: 'cider', header: 'ciders' }
    =render partial: 'products/nav_links', locals:{ filter: 'drink', header: 'drinks' }
    =render partial: 'products/nav_links', locals:{ filter: 'shot', header:'shots' }
    =render partial: 'products/nav_links', locals:{ filter: 'other', header:'other' }
