%div
  .modal-header
    %h3{'ng-show'=>'currentMaterial.isNew()'}= t('.create_header')
    %h3{'ng-hide'=>'currentMaterial.isNew()'}= t('.update_header')
  .modal-body
    = render 'products/material_form' 
  .modal-footer
    .btn-group.pull-right
      %button.btn.btn-primary{'ng-click'=>'cancelAndClose()'}
        =t('.cancelAndClose')
      %button.btn.btn-primary{'ng-click'=>'currentMaterial.cancelChanges()'}
        =t('.cancelChanges')
      %button.btn.btn-success{'ng-click'=>'currentMaterial.save()'}
        %span{'ng-show'=>'currentMaterial.isNew()'}=t('.create')
        %span{'ng-hide'=>'currentMaterial.isNew()'}=t('.update')
  
