<div ng-controller="BuysCtrl">
  <div id="tabs">
  <h3>Piikit</h3>
  <table>
    <tr>
      <th>Omistaja</th>
      <th>Ostettuja tuotteita</th>
      <th>Saldo</th>
    </tr>
    <tr ng-repeat="user in users" ng-click="selectBuyer(user)">
      <td>{{user.username}}</td>
      <td>{{user.buy_count | number}}</td>
      <td>{{user.balance | currency}}</td>
    </tr>
  </table>
  </div>
  <div id="products">
  <h3>Tuotteet</h3>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Ostettavissa</th>
      <th>Hinta</th>
    </tr>
    <tr ng-repeat="product in products" ng-click="addProductToBasket(product)">
      <td>{{product.name}}</td>
      <td>{{product.stock | number}}</td>
      <td>{{product.price | currency}}</td>
    </tr>
  </table>
  </div>
  <div id="basket">
    <h3>Ostoskori</h3>
    <div>
      <span>Ostaja:</span>
      <span ng-click="resetBuyer()">{{basket.buyer.username || 'Ostajaa ei ole valittu'}}</span>
    </div>
    <div ng-hide="basket.products.length">
      <span>Ostoskorissa ei ole tuotteita</span>
    </div>
    <table ng-show="basket.products.length">
      <tr>
        <th></th>
        <th>Tuote</th>
        <th>Määrä</th>
      </tr>
      <tr ng-repeat="entry in basket.products">
        <td>
          <button class="remove" ng-click="removeFromBasket($index)">X</button>
        </td>
        <td>{{entry.product.name}}</td>
        <td>
          <button class="decrement-button" ng-click="decrementAmount(entry)">-</button>
          <input class="number-box" type="text" ng-model="entry.amount" ng-pattern="/^\d+$/"/>
          <button class="increment-button" ng-click="incrementAmount(entry)">+</button>
        </td>
      </tr>
    </table>
    <button ng-show="canBuy()" ng-click="buy()">Osta</button>
  </div>
  <div id="latest_buys">
    <h3>Viimeisimmät ostot</h3>
    <table>
      <tr>
        <th>Ostaja</th>
        <th>Tuotteet</th>
        <th>Ajankohta</th>
      </tr>
      <tr ng-repeat="buy in latest_buys">
        <td>{{buy.buyer.username}}</td>
        <td>{{buy.products_str}}</td>
        <td>{{buy.created_at | date:'medium'}}</td>
      </tr>
    </table>
  </div>
</div>