<div>
  <div id="tabs" ng-controller="UsersCtrl">
    <h3>{{I18n.t('tabs.header')}}</h3>
    <div class="search">
      <span>{{I18n.t('generic.search_by_name')}}</span>
      <input type="text" ng-model="currentUserText" ng-change="filter(users, 'username', currentUserText)" ng-list
             value="{{currentUserText}}" ng-init="filter(users, 'username', '')"/>
    </div>
    <table>
      <tr>
        <th class="clickable" title="{{I18n.t('tabs.sort_by_name')}}" ng-click="sort(users, 'username')">{{I18n.t('tabs.owner')}}</th>
        <th class="clickable" title="{{I18n.t('tabs.sort_by_buy_count')}}" ng-click="sort(users, 'buy_count')">{{I18n.t('tabs.buy_count')}}</th>
        <th class="clickable" title="{{I18n.t('tabs.sort_by_balance')}}" ng-click="sort(users, 'balance')">{{I18n.t('tabs.balance')}}</th>
      </tr>
      <tr ng-class="{highlighted: user == basket.buyer}" ng-repeat="user in users" ng-hide="user.hidden">
        <td class="clickable" ng-click="basket.buyer = user">{{user.username}}</td>
        <td>{{user.buy_count | number}}</td>
        <td class="{negative: user.balance < 0, positive: user.balance >= 0}">{{user.balance | currency}}</td>
      </tr>
    </table>
  </div>
  <div id="products_and_basket">
    <div id="products_for_buy" ng-controller="ProductsCtrl">
      <h3>{{I18n.t('products.header')}}</h3>
      <div class="search">
        <span>{{I18n.t('generic.search_by_name')}}</span>
        <input type="text" ng-model="currentProductText" ng-change="filter(products.collection, 'name', currentProductText)"
               ng-list value="{{currentProductText}}" ng-init="filter(products.collection, 'name', '')"/>
      </div>
      <table>
        <tr>
          <th class="clickable" title="{{I18n.t('products.sort_by_name')}}" ng-click="sort(products.collection, 'name')">{{I18n.t('products.name')}}</th>
          <th class="clickable" title="{{I18n.t('products.sort_by_stock')}}" ng-click="sort(products.collection, 'stock')">{{I18n.t('products.buyable')}}</th>
          <th class="clickable" title="{{I18n.t('products.sort_by_price')}}" ng-click="sort(products.collection, 'price')">{{I18n.t('products.price')}}</th>
        </tr>
        <tr ng-class="{highlighted: basket.indexOfProduct(product) != -1}" ng-repeat="product in products.collection" ng-hide="product.hidden">
          <td class="clickable" ng-click="basket.addProduct(product)">{{product.name}}</td>
          <td>{{product.stock | number}}</td>
          <td>{{product.price | currency}}</td>
        </tr>
      </table>
    </div>
    <div id="basket">
      <h3>{{I18n.t('buys.header')}}</h3>
      <p class="{{messageType}}" ng-show="message.length > 0">{{message}}</p>
      <div>
        <span>{{I18n.t('buys.buyer.buyer')}}:</span>
        <span title="{{I18n.t('buys.buyer.remove_selection')}}"ng-click="basket.clearBuyer()">{{basket.buyer.username || I18n.t('buys.buyer.none')}}</span>
      </div>
      <div ng-hide="basket.products.length">
        <span>{{I18n.t('buys.products.none')}}</span>
      </div>
      <table ng-show="basket.products.length">
        <tr>
          <th class="clickable" title="{{I18n.t('buys.products.sort_by_name')}}" ng-click="sort(basket.products, 'product.name')">{{I18n.t('buys.products.name')}}</th>
          <th class="clickable" title="{{I18n.t('buys.products.sort_by_amount')}}" ng-click="sort(basket.products, 'product.amount')">{{I18n.t('buys.products.amount')}}</th>
        </tr>
        <tr ng-repeat="entry in basket.products">
          <td>{{entry.product.name}}</td>
          <td>
            <input class="number-box" type="text" ng-model="entry.amount" min="1" step="1" ng-pattern="/^[1-9]+$/"/>
          </td>
          <td>
            <button ng-click="basket.removeProduct($index)">{{I18n.t('generic.remove')}}</button>
          </td>
          <td><p class="error-message" ng-show="entry.error.length > 0">{{entry.error}}</p></td>
        </tr>
      </table>
      <button ng-disabled="!basket.canBuy()" ng-show="basket.products.length" ng-click="buy()">{{I18n.t('buys.buy')}}</button>
      <button ng-show="basket.products.length" ng-click="basket.clear()">{{I18n.t('buys.clear')}}</button>
    </div>
  </div>
  <div id="latest_buys">
    <h3>{{I18n.t('buys.latest')}}</h3>
    <table>
      <tr>
        <th>{{I18n.t('buys.buy_time')}}</th>
        <th>{{I18n.t('buys.buyer.buyer')}}</th>
        <th>{{I18n.t('buys.products.all')}}</th>
      </tr>
      <tr ng-repeat="buy in latest_buys">
        <td>{{buy.created_at | date:'medium'}}</td>
        <td>{{buy.buyer.username}}</td>
        <td>{{productsStr(buy.products)}}</td>
      </tr>
    </table>
  </div>
</div>