<div>
 <h3>{{I18n.t('products.header')}}</h3>
 <table>
   <tr>
     <th>{{I18n.t('products.name')}}</th>
     <th>{{I18n.t('products.description')}}</th>
   </tr>
   <tr ng-repeat="product in products">
     <td>
       <a ng-click="details(product)">{{product.name}}</a>
     </td>
     <td>{{product.description}}</td>
     <td>
       <a ng-click="edit(product)">{{I18n.t('generic.edit')}}</a>
     </td>
   </tr>
 </table>
</div>